<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
</head>

<body>
<div>
    현재 위치: <span id="position"> x: 0, y: 0</span>
</div>
<div id="game"></div>
<div id="event_result"></div>
<div id="control" style="outline: 1px solid green; width:250px; padding:20px;margin-top: 20px">
    <button value="1">동</button>
    <button value="3">서</button>
    <button value="2">북</button>
    <button value="0">남</button>
</div>
<div id="status"
     style="outline: 1px solid green; height:170px; width:250px; padding:20px;margin-top: 20px;display: inline-block; vertical-align:top;"
>
    이름: <span id="name"> 5 / 5</span> <br>
    체력: <span id="hp"> 5 / 5</span> <br>
    공격력: <span id="str"> 5 (+3)</span> <br>
    방어력: <span id="def"> 5 (+3)</span> <br>
    Level: <span id="level"> 5 </span> <br>
    exp: <span id="exp"> 5 / 10</span> <br>
    <div>
        <!--TODO: 내 아이템??        -->
    </div>
</div>
<div id="item-list"
     style="outline: 1px solid green;height:170px; width:250px; padding:20px;margin-top: 20px;display: inline-block; vertical-align:top;"
>
    &lt; 내 아이템들 &gt;
    <div id="items" style="margin-top: 10px"></div>
</div>

<div id="tip" style=" width:550px; padding:20px;margin-top: 20px">
    <h4>
        Tip
    </h4>
    미로의 던전에 오신 것을 환영합니다. <br>
    0,0에서 10,10까지 121칸의 맵을 돌아다니며, <br>
    몬스터를 만나고 아이템을 획득하며 점점 강해지십시오. <br>
    과연, 중심부까지 가실 수 있을까요? <br>
</div>


<script>

  const sendAction = (url, params = {}) => {
    $.ajax({
      url,
      headers: {
        Authorization: "Bearer " + key
      },
      method: "POST",
      data: $.param(params),
    }).done((res) => {
      const {player, field, event, actions} = res;
      console.log(player)

      $('#game').text(field.description);
      $('#position').text(`x: ${field.x}, y: ${field.y}`);
      const x = field.x;
      const y = field.y;

      $('#control').html('');
      actions.forEach((action) => {
        const dom = $('<button></button>');
        dom.text(action.text);
        dom.addClass('action');
        dom.bind('click', function () {
          sendAction(action.url, action.params);
        });

        $('#control').append(dom);
      })

      if (event) {
        $('#event_result').text(event.description);
      } else {
        $('#event_result').text("이동하자.");
      }

      $('#name').text(player.name)
      $('#hp').text(`${player.HP} / ${player.maxHP}`)
      $('#str').text(`${player.str} (+${player.itemStr})`)
      $('#def').text(`${player.def} (+${player.itemDef})`)
      $('#level').text(player.level)
      $('#exp').text(`${player.exp} / ${player.maxExp}`)
      $('#items').html('');
      let playerItems = {}
      player.items.forEach((item) => {
        if (playerItems[item] === undefined) {
          playerItems[item] = 1
        } else {
          playerItems[item] += 1
        }
      });
      Object.keys(playerItems).forEach((item) => {
        const dom = $('<div></div>');
        dom.text(` - ${item} (${playerItems[item]}개)`);
        $('#items').append(dom);
      })
    });

  }
  const key = localStorage.getItem('_key');
  if (!key) {
    location.href = "/";
  }

  sendAction("/action", {action: 'query'});


</script>
</body>
</html>

